/* Display */

.display {
  width: 100%;
  display: flex;
  flex-flow: column;
  -ms-flex-flow: column;
  justify-content: space-between;
  padding: 15px 15px 0 15px;
  background-color: #fff;
  flex-grow: 1;
}

.display-formula,
.display-input {
  width: 100%;
  resize: none;
  font-family: Nunito Sans, Helvetica, Arial, sans-serif;
  border: none;
  outline: none;
  text-align: right;
  background-color: inherit;
}

.display-formula {
  flex-grow: 1;
  font-size: 2rem;
}

.display-input {
  flex-shrink: 0;
  font-size: 1.75rem;
  color: #888;
  white-space: nowrap;
  padding-bottom: 15px;
}

@media (min-width: 768px) {
  #view-github {
    display: none;
  }
}